body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #111111;
}

.login-container {
    background-color: rgb(85, 85, 85);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color:#ffffff;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    color:#ffffff;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6400c2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #360069;
}

.error-message {
    margin-top: 15px;
    color: red;
}
